/*head*/
header{
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
    /*z-index: 999;*/
    height: 60px;
    width: 100%;
    min-width: 1280px;
    line-height: 60px;
    background-color: #69F2E3;
    border: none;
    padding: 10px 0;
}
header img{
    margin-left: 40px;
}

header div{
    float: right;
    font-size: 20px;
    color: #ffff2c;
    margin-right: 40px;
}

header h1{
    margin-left: 15px;
    color: white;
    font-weight: normal;
}

header button{
    border-radius: 30px;
    margin-top: 15px;
    margin-right: 50px;
    background-color: lawngreen;
    line-height: 25px;
    border: none;
    color: whitesmoke;
}
/*中间宽度*/
#main{
    min-width: 1080px;
    background-color: #ff7dab;
    margin: 0;
}

#content{
    padding: 10px;
}

/*banner*/
.banner {
    width: 800px;
    height: 300px;
    border: none;
    overflow: hidden;
    position: relative;
    margin: 20px auto;
}

#list {
    width: 5600px;
    height: 300px;
    position: absolute;
    z-index: 1;
}
#list img {
    float: left;
}
#buttons {
    position: absolute;
    height: 10px;
    width: 100px;
    z-index: 2;
    bottom: 20px;
    left: 350px;
}
#buttons span {
    cursor: pointer;
    float: left;
    border: 1px solid #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #333;
    margin-right: 5px;
}
#buttons .on {
    background: orangered;
}
.arrow {
    cursor: pointer;
    display: none;
    line-height: 34px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 2;
    top: 125px;
    background-color: RGBA(0,0,0,.3);
    color: #fff;
}
.arrow:hover {
    background-color: RGBA(0,0,0,.7);
}
.banner:hover .arrow {
    display: block;
}
#prev {
    left: 20px;
}
#next {
    right: 20px;
}



/*foot*/

#foot_href{
    height: 60px;
    width: 100%;
    color: white;
    background-color: #30303A;
}

#foot_href span {
    margin-top: 25px;
    color: white;
}

#foot_href span a:visited {
    color: white;
    text-decoration: none;
}


#contact{
    background-color: #33363F;
    text-align: center;
    color: white;
    padding: 90px 0;
}

#contact span{
    font-size: 22px;
}

#contact p{
    font-size: 12px;
    margin: 20px 0;
}


#contact input:first-child{
    width: 40%;
    height: 40px;
    border: none;
    color: black;
    background-color: white;
}

#contact input {
    margin: 20px 0 20px -6px;
    width: 8%;
    height: 40px;
    border: none;
    background-color: #717179;
    color: white;
}
#search_pro{
    padding-top: 30px;
    background-color: #ff7dab;
}

#search_pro  div{
    text-align: center;
}

#search_pro input:first-child{
    width: 40%;
    height: 40px;
    border: none;
    color: black;
    background-color: white;
}

#search_pro input {
    margin: 20px 0 20px -6px;
    width: 8%;
    height: 40px;
    border: none;
    background-color: #ffff2c;
    color: #55585a;
}

.divPrice{
    background: url("../images/price.jpg");
    position: absolute;
    top: 305px;
    right: -10px;
    text-align: center;
    font-size: 30px;
    width: 332px;
    height: 63px;
    line-height: 63px;
}

#buy {
    margin: 20px auto;
    width: 200px;
    height: 60px;
    background-color: #FFA800;
    color: #ffffff;
    border-radius: 20px;
    font-size: 30px;
}


#buy:hover {
    width: 250px;
    background-color: #ff7dab;
    color: #b6ffe7;
}